<html>

    <head>
        <title>Payroll Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <h1>All the payroll</h1>
        <section class="payrolls">
            <table style="width:100%">
                <tr>
                 <th>Name</th>
                 <th>UserID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Amount</th>
               </tr>
       </table>
        </section>
         
       
       
        <script src='/js/jquery.min.js'></script>
        <script src='/js/allpayroll.js'></script>
    </body>
    
    </html>