<html>
<head>
    <style>
        table, tr, td {
            border:1px solid black;
            padding : 5px;
        }
    </style>

    <title>Attendance Module Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1><a href="/">Module Attendance Page</a></h1>
    <section class="modulesAttendance">

    </section>
    <br>
       
          <table class="rows">
              <tr>
                  <th>Name</th>
                  <th>Attendance</th>
                  <th>Submit</th>
            </tr>

          </table>
        <div class="statusMessage"></div>

    <script src='/js/jquery.min.js'></script>
    <script src='/js/attendanceform.js'></script>
    <script src="/js/auth.js"></script>
    
</body>

</html>