<html>

<head>
    <title>Invoice Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Invoive Page</h1>
    <section class="payrolls">
        <table class="teacher" style="width:100%">
            <tr>
             <th>Name</th>
             <th>UserID</th>
            <th>Email</th>
            <th>Role</th>
           </tr>
   </table>
    </section>
    <h2>After transfer</h2>
    <section class="amounts">
        <table class="amount" style="width:100%">
            <tr>
             <th>Name</th>
             <th>Amount transfer</th>
           </tr>
   </table>

    </section>
    <h2>School fees</h2>
    <section class="fees">
        <table class="fee" style="width:100%">
            <tr>
             <th>Name</th>
             <th>Amount paid</th>
           </tr>
   </table>

    </section>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/payroll.js'></script>
    <script src='/js/auth.js'></script>
</body>

</html>