<html>

<head>
    <title>All of User CCA Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>All of User CCA</h1>
    <section class="ccas">

    </section>
    <section>
        <button class="booking">CCA Facilities</button>
    </section>
    <br>
    <section class="addNewbooking">
        <form onsubmit="return addstudentcca();"> 
            
            <label for="name">CCA:</label>
            <select name="name" id="name"></select>
            <input type="submit" value="Submit">
        </form>
        <div class="statusMessage"></div>
    </section>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/registercca.js'></script>
    <script src ='/js/index.js'></script>
</body>

</html>